html
 head
  //script(src='/vendor/bower_components/jquery/dist/jquery.min.js')
  script(data-main="/js/app", src="/vendor/bower_components/requirejs/require.js")
  style(type='text/css')
  
 h3.ggg Create Player ZZZ
 
 form(action='/players/add' method='post')
   input(id='name', type='text', value='', placeholder='Player Name', name='name')
   select#teamsList(name='teamId')
   
    
    
   input(type='submit', value='Create')
  

 


  

