script.
 var player = player
script(data-main="/js/app", src="/vendor/bower_components/requirejs/require.js")

style(type='text/css')
  
h2 Player: #{player.description}

div#player-teams
 h3 Teams
 ul

a(href='/players') Back...