script(type='text/javascript').
 var local_data =!{JSON.stringify(event)}
script(data-main="/js/app", src="/vendor/bower_components/requirejs/require.js")

style(type='text/css')
  
h2 Event: #{event.description}

div#event-teams
 h3 Teams
 ul
 

a(href='/events') Go to Events...