html
head
 title Welcome | Soccer Stars
 meta(name='viewport', content='width=device-width, initial-scale=1.0')
 link(href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
 link(href='/css/style.css' rel='stylesheet')
 link(href='/css/style-modals.css' rel='stylesheet')
 script(src="/vendor/bower_components/jquery/dist/jquery.min.js")
 script(src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js")
body
    //header
      div.container
 div.container      
   nav.navbar.navbar-inverse
        div.navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#navbar-collapse-3')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
           a.brand-link.navbar-brand(href='/') Soccer Stars
        div.collapse.navbar-collapse#navbar-collapse-3
          ul.nav.navbar-nav.navbar-right.menu-links
            li 
              a(href="/teams") Teams
            li  
              a(href="/events") Events
            li
              a(href="/players") Players
            li
              a(href="/options") Options
   div.conainer-fluid              
      block content
   footer.navbar-bottom.row-fluid
      hr
      div.container
        p.text-muted  Soccer Beta v1.01 |  2017