extends ../layouts/layout

block content
 h2 Futsal leaderboards - Atyrau
 - var x=1;
 table.table.table-striped.table-bordered.table-hovertable.table-inverse
  thead
   tr 
    td #
    td Team
    td Points
  tbody
   for team in teams
    tr
       td #{x}
       td(style='width:80%') 
            a(href="/teams/team?desc=#{team.desc}")=team.desc
            span.ff 
            //| (#{team.id +' '+ team.description +' | rating:' + team.rating +'| created on: '+team.createdon})
       td(style='width:15%') #{team.rating}
   
    - x++;
 
 