extends ../layouts/layout

block content
 h2 Atyrau Soccer teams ratings
 - var x=1;
 table.table.table-striped.table-bordered.table-hovertable
  tr 
   td #
   td Team
   td Points
 
  for team in teams
   tr
       td #{x}
       td(style='width:80%') 
            a(href="/teams/#{team.id}")=team.description
            span.ff 
            //| (#{team.id +' '+ team.description +' | rating:' + team.rating +'| created on: '+team.createdon})
       td(style='width:15%') #{team.rating}
   
   - x++;
 
 