div.modal-dialog(role="document")
 div.modal-content
  div.modal-header 
   span New Event
   button.close(type="button" data-dismiss="modal" area-label="Close")
    span(aria-hidden="true") &times;
  div.modal-body
   form(id="options-event-create" action="seasons/add" method="POST")
    input(type="text" hidden value="event")
    div.input-group
     input.form-control.uniqeDesc(type="text"  name="desc" required placeholder="description") 
     span.input-group-btn
      input.btn.btn-primary(value="create" type="submit")
      
    